.container_self {
    padding: 2rem;
    margin: auto;
    height: 100vh;
    width: 100%;
    /* position: fixed; */
    position: relative;
    display: flex;
    z-index: 1;
    overflow-y: scroll;
    /* for the scrolling purpose */
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-image: linear-gradient( to right, rgba(170, 182, 182, 0.13), rgba(136, 129, 129, 0.432)), url("https://images.unsplash.com/photo-1523712999610-f77fbcfc3843?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80"); */
    background-image: url("https://images.unsplash.com/photo-1523712999610-f77fbcfc3843?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80");
    /* opacity: 0.75; */
}

.container_self::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.25);
}

#heading {
    text-align: center;
    justify-content: center;
    font-family: 'Corben', cursive;
    padding-bottom: 1.3rem;
    color: #faf9f3;
}

/* *******************       POPUP STYLES              ************************* */

.pop-up {
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.774);
    z-index: 99999;
}

.input-box {
    width: 400px;
    padding: 40px;
    border-radius: 6px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}

.cross-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
}

.input-box h3 {
    margin-bottom: 30px;
}

.input-box input {
    width: 100%;
    padding: 8px;
    outline: 0;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 20px;
}

.input-box button {
    padding: 5px 8px;
    font-size: 18px;
    margin: auto;
    background-color: #ef476f;
    color: white;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-family: 'Cormorant Infant', serif;
    font-family: 'Varta', sans-serif;
    /* text-transform: uppercase; */
    border-radius: 4px;
}

.input-box button:hover {
    background: #f0849d;
    border: 2px double #c6e48f;
}

.addcards {
    color: white;
    font-size: 4rem;
    cursor: pointer;
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: 4rem;
    left: 4rem;
}

@media (max-width: 450px) {
    .addcards {
        top: 20rem;
        left: 1rem;
    }
}